<p id="notice"><%= notice %></p>

<h1>Shopping List</h1>
<br/>
<h3>Produtos</h2>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Valor</th>
      <th>Datacompra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= produto.quantidade %></td>
        <td><%= produto.valor %></td>
        <td><%= produto.dataCompra %></td>
        <td><%= link_to 'Visualizar', produto %></td>
        <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
        <td><%= link_to 'Deletar', produto, method: :delete, data: { confirm: 'Deseja deletar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo produto', new_produto_path %>
